@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.custom-select {
  appearance: none;
  background-color: transparent;
  background-image: url("/images/up-arrow.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding: 8px 24px 8px 8px;
  background-size: 17px;
  color: #444094;
  cursor: pointer;
}

.custom-select::-ms-expand {
  display: none;
}

.hoverButton:hover {
  background: #5b56bd !important;
}

.hoverButtonTransparent:hover {
  background: #ddd !important;
}

.ReactInputVerificationCode__item {
  border-radius: 50% !important;
  width: 5rem !important;
  border: 1px solid rgba(68, 64, 148, 1) !important;
}

.ReactInputVerificationCode__item:focus {
  border: 3px solid red !important;
}

/* Choose File Color */
input[type="file"]::file-selector-button {
  border: none;
  padding: 10px 20px;
  margin: 8px;
  border-radius: 30px;
  background-color: #726dc5;
  color: #ffffff;
  transition: 0.3s;
  /* filter: drop-shadow(0 0 4px #4444dd); */
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  border: none;
  padding: 10px 20px;
  margin: 8px;
  border-radius: 30px;
  background-color: #444094;
  transition: 0.3s;
  /* filter: drop-shadow(0 0 4px #4444dd); */
}

.py_GridRowSwiper .swiper {
  width: 100%;
  height: 100%;
}

.py_GridRowSwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.py_GridRowSwiper .swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.py_GridRowSwiper .swiper {
  width: 100%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.py_GridRowSwiper .swiper-slide {
  background-size: cover;
  background-position: center;
}

.py_GridRowSwiper .mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.py_GridRowSwiper .mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.7;
}

.py_GridRowSwiper .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.py_GridRowSwiper .mySwiper .swiper-slide-thumb-active::before {
  content: url(/images/active-check.png);
  width: 2px;
  top: -14%;
  right: 55%;
  bottom: 0;
  position: absolute;
}

.py_GridRowSwiper .swiper-slide img {
  display: block;
  width: 115px;
  object-fit: cover;
}

.py_GridRowSwiper .mySwiper2 {
  height: 80%;
  width: 100%;
}

.py_GridRowSwiper .mySwiper2 img {
  width: 50%;
}

.py_GridRowSwiper .swiper-button-next,
.py_GridRowSwiper .swiper-button-prev {
  color: #ffffff !important;
}

.pyChooseCardDesign .MuiDialog-paper {
  max-width: 800px !important;
}

.py_GridRowSwiper .swiper-button-prev {
  content: url("/images/swiper-arrow-left.svg");
  width: 40px;
  top: 90%;
  left: 30%;
}
.py_GridRowSwiper .swiper-button-next {
  content: url("/images/swiper-arrow-right.svg");
  width: 120px;
  top: 90%;
  right: 49%;
  bottom: 0;
}

.py_GridRowSwiper .swiper-pagination-bullet {
  background: #b1b1b1 !important;
  /* opacity: 1 !important; */
}

.py_GridRowSwiper .swiper-pagination-bullet-active {
  background: #5630ff !important;
}

.py_GridRowSwiper .swiper-pagination-fraction {
  bottom: 6%;
  left: 17%;
  z-index: 1;
  font-size: 16px;
  font-weight: 400;
  color: #a6adb4;
}

.py-date-picker {
  z-index: 9999999;
}

.py-date-picker .react-datepicker__input-container input {
  border-radius: 30px;
  border: 1px solid #444094;
  padding: 14px 20px;
  width: 100%;
  background: transparent;
}

.py-date-picker .react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__header {
  background-color: #040145 !important;
}

.react-datepicker__navigation-icon::before {
  border-color: #ffffff !important;
}

.react-datepicker__current-month {
  color: #ffffff !important;
}

.react-datepicker__day-name {
  color: #ffffff !important;
}

.react-datepicker__day--selected {
  background-color: #040145 !important;
  border-radius: 50% !important;
}

.react-datepicker__navigation-icon::before {
  top: 14px !important;
}
