@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Özel stil */
.custom-select {
  appearance: none;
  background-color: transparent;
  background-image: url('/images/up-arrow.png'); /* Açılır okunuzun görüntüsü */
  background-repeat: no-repeat;
  background-position: right center;
  padding: 8px 24px 8px 8px; /* Daha iyi bir görünüm için özelleştirilebilir */
  background-size: 17px;
  color: #444094;
  cursor: pointer;
}

/* Açılır okun görünmemesi */
.custom-select::-ms-expand {
  display: none;
}
