@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.custom-select {
  appearance: none;
  background-color: transparent;
  background-image: url("/images/up-arrow.png");
  background-repeat: no-repeat;
  background-position: right center;
  padding: 8px 24px 8px 8px;
  background-size: 17px;
  color: #444094;
  cursor: pointer;
}

.custom-select::-ms-expand {
  display: none;
}

.hoverButton:hover {
  background: #5b56bd !important;
}

.hoverButtonTransparent:hover {
  background: #ddd !important;
}

.ReactInputVerificationCode__item {
  border-radius: 50% !important;
  width: 5rem !important;
  border: 1px solid rgba(68, 64, 148, 1) !important;
}

.ReactInputVerificationCode__item:focus {
  border: 3px solid red !important;
}

/* Choose File Color */
input[type="file"]::file-selector-button {
  border: none;
  padding: 10px 20px;
  margin: 8px;
  border-radius: 30px;
  background-color: #726dc5;
  color: #ffffff;
  transition: 0.3s;
  /* filter: drop-shadow(0 0 4px #4444dd); */
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  border: none;
  padding: 10px 20px;
  margin: 8px;
  border-radius: 30px;
  background-color: #444094;
  transition: 0.3s;
  /* filter: drop-shadow(0 0 4px #4444dd); */
}
